bower_components/
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
packages
[Rr]elease*/
_ReSharper*/
*.ncrunchsolution
*.orig
key
privateKey.ppk
publicKey
*.ncrunchproject
nCrunchTemp*.*
_NCrunch*
*.ppk
bower_components
node_modules
*.map
.idea
